 <h1 class="text-center mt-5"><%= @list.name%> </h1>



  <% if @list.movies.empty? %>
    <%= "Sorry, you don't have any film in this list yet" %>
  <% else %>



    <% @list.bookmarks.each do |bookmark| %>
    <%= bookmark.movie.title %>
    <%= bookmark.movie.overview %>
    <%= bookmark.movie.rating %>
    <%= bookmark.movie.title %>
    <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, width: 200 %>    <%= bookmark.comment %>
    <%= link_to "Supprimer",
    bookmark_path(bookmark),
    data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>

    <% end %>
<% end %>
 <div class="text-center mt-4">
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
    </div>
